In [2]:
import pandas as pd
import dateutil

In [7]:
data = pd.read_excel('../DATA/20181130_Full_Dataset.xlsx')
data.head()

,timestamp,work_item,work_type,work_priority,domain,platform,components,from_phase,to_phase,from_resource,to_resource
0,2015-01-02 14:39:14,WI_000001,WT_00001,WP_00003,BD_00001,PL_00001,NaN,NaN,Analyze,NaN,ER_00043
1,2015-01-02 15:04:20,WI_000002,WT_00002,WP_00004,BD_00002,PL_00002,CO_00037/CO_00071,NaN,Analyze,NaN,ER_00225
2,2015-01-02 15:28:22,WI_000003,WT_00002,WP_00004,BD_00002,PL_00002,CO_00037/CO_00071,NaN,Analyze,NaN,ER_00225
3,2015-01-02 15:33:54,WI_000004,WT_00002,WP_00004,BD_00002,PL_00002,CO_00037/CO_00071,NaN,Analyze,NaN,ER_00225
4,2015-01-02 16:32:11,WI_000005,WT_00002,WP_00003,BD_00003,PL_00003,CO_00113,NaN,Analyze,NaN,ER_00206

In [10]:
# number of rows
data['work_item'].count()

85794

In [27]:
# How many seconds of time are spended in total?
a = data['timestamp'].max()
b = data['timestamp'].min()
(a-b).total_seconds()

123394401.0

In [37]:
# How many entries are there for each date and hours?
data['timestamp'].value_counts().head()
# data['month'].value_counts()

2018-02-26 10:12:33    10
2018-02-26 10:11:32    10
2018-02-26 10:13:28     9
2018-02-26 10:11:34     9
2018-02-26 10:11:33     9
Name: timestamp, dtype: int64

In [40]:
# How many entries are there for each ID?
data['work_item'].value_counts().head()

WI_006500    34
WI_004262    31
WI_008786    31
WI_011425    28
WI_000911    27
Name: work_item, dtype: int64

In [56]:
#TO = df['from_phase'].isnull()
#TF = df['to_phase'].isnull()

In [58]:
#data['to_phase'].fillna('end')
#TF = data['to_phase']=='end'

In [44]:
data.groupby('timestamp')

In [ ]:
def aggregation(x)->pd.Series:
    names = {
        'was_closed': max(x['to_phase'] == 'End'),
        'nr_of_phases': len(x),  # Not counting the start phase
        'unique_phases': x['from_phase'].nunique()  # Not counting the end phase
        }
    return pd.Series(names)

In [ ]:
df.groupby('work_item')['to_phase'].agg(['was_closed','nr_of_phases','unique_phases'])

In [ ]:
df.groupby('work_item', as_index=True).agg({"to_phase": "count","from_phase":"nunique"})

In [59]:
#count=nr_of_phase
#unique_phases=df['from_phase'].nunique()
mde=df.groupby('work_item')['to_phase'].agg(['count','min','max'])
mde.head()

           count      min  max
work_item
WI_000001     12   Accept  end
WI_000002      4  Analyze  end
WI_000003      8  Analyze  end
WI_000004      8   Accept  end
WI_000005      8   Accept  end

In [60]:
ai=df[(df.to_phase=='end')&df['work_item']]
ai.head()

,timestamp,work_item,work_type,work_priority,domain,platform,components,from_phase,to_phase,from_resource,to_resource
63,2015-01-06 09:18:30,WI_000013,WT_00002,WP_00002,BD_00005,PL_00005,CO_00141,Analyze,end,ER_00255,NaN
65,2015-01-06 09:20:33,WI_000033,WT_00002,WP_00002,BD_00003,PL_00003,CO_00113,Deploy,end,ER_00206,NaN
97,2015-01-06 13:24:41,WI_000034,WT_00002,WP_00002,BD_00003,PL_00003,CO_00113,Deploy,end,ER_00206,NaN
111,2015-01-06 14:03:06,WI_000036,WT_00002,WP_00003,BD_00001,PL_00001,NaN,Deploy,end,ER_00043,NaN
113,2015-01-06 14:51:17,WI_000035,WT_00002,WP_00002,BD_00005,PL_00005,CO_00141,Analyze,end,ER_00255,NaN

In [ ]:
#from os import path as os_path
#PATH = os_path.abspath(os_path.split(__file__)[0])

In [61]:
unique_phases=df['from_phase'].nunique()
unique_phases

8

In [62]:
was_closed = df['to_phase']=='end'
was_closed.head()

0    False
1    False
2    False
3    False
4    False
Name: to_phase, dtype: bool

In [63]:
dfg=pd.DataFrame(df['work_item'],df['to_phase']=='end')
dfg.head()

         work_item
to_phase
False          NaN
False          NaN
False          NaN
False          NaN
False          NaN

In [64]:
dfg=pd.crosstab(df['work_item'],df['to_phase']=='end')
dfg.head()

to_phase   False  True
work_item
WI_000001     11      1
WI_000002      3      1
WI_000003      7      1
WI_000004      7      1
WI_000005      7      1

In [65]:
df[df.to_phase=='end']['work_item'].head()

63     WI_000013
65     WI_000033
97     WI_000034
111    WI_000036
113    WI_000035
Name: work_item, dtype: object

In [ ]:
date1=dfnew['entry_time'][0]
date2=dfnew['exit_time'][0]
#for each row of column